<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    
    <!-- External CSS -->
    <link rel="stylesheet" href="assets/css/normalize.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="flex-container" id="content-container">
      {{ content }}
    </div>
  </body>

  <!-- Custom JS -->
  <script src="assets/js/helper.js"></script>
  <script src="assets/js/Bar.js"></script>

  <script src="assets/js/sortHelper.js"></script>
  <script src="assets/js/algorithms/bubbleSort.js"></script>
  
  <script src="assets/js/initBars.js"></script>
  <script src="assets/js/main.js"></script>

</html>
